/Java/.idea
/Java/target
/Java/out
/Java/log
/Scala/log
/Scala/out
/Scala/.idea
/Native/Manager/bin
/Native/Manager/x64
/Native/Manager/Release
/Native/Manager/WCCOAJavaManager.sdf
/Native/Manager/WCCOAJavaManager.opensdf
/Native/Manager/WCCOAJavaManager.v12.suo
/Native/Driver/bin
/Native/Driver/x64
/Native/Driver/Release
/Native/Driver/WCCOAJavaDrv.sdf
/Native/Driver/WCCOAJavaDrv.opensdf
/Native/Driver/WCCOAJavaDrv.v12.suo
/Native/CtrlExt/bin
/Native/CtrlExt/x64
/Native/CtrlExt/Release
/Native/CtrlExt/JavaCtrlExt.sdf
/Native/CtrlExt/JavaCtrlExt.opensdf
/Native/CtrlExt/JavaCtrlExt.v12.suo
/Project/Example/db
/Project/Example/log
/Project/Logger/out
/Project/Logger/target
/Project/Telegram/log
/Project/Telegram/out
/Project/Telegram/target
/Project/Telegram/project
